body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e5dda, #e6f0ff);
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.main-title {
    color: #0044cc;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background: #e6f0ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0044cc;
    border-radius: 4px;
}

input:focus, select:focus {
    outline: none;
    border-color: #002a80;
}

button {
    background-color: #0044cc;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #002a80;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-left: 4px solid #0044cc;
    border-radius: 4px;
}

canvas {
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
}

.chart-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.image-text-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background: #e6f0ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.info-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-text {
    max-width: 400px;
}

.info-text h2 {
    margin: 0 0 10px;
    color: #0044cc;
}

.info-text p {
    margin: 0;
    color: #333;
}
